body {
    background-image: url("https://images.unsplash.com/photo-1495333003700-eb75daae834b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

body {
    background-color: blueviolet;
    text-align: left;
    

}

body {
    font-family: cursive;
}